* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.container {
    display: flex;
    gap: 40px;
}


.container1,
.container2 {
    background: #1a1a1a;
    padding: 35px;
    border-radius: 20px;
    width: 380px;
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.3);
    border: 1px solid #222;
    color: white;
}

label {
    display: block;
    margin-bottom: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ff3c3c;
}


input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 10px;
    border: none;
    background: #2a2a2a;
    color: white;
    outline: none;
    transition: 0.3s;
}

input[type="number"]:focus {
    box-shadow: 0 0 10px #ff3c3c;
}

.male, .female {
    display: inline-block;
    margin-right: 20px;
    color: white;
}

button {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(90deg, #ff0000, #b30000);
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    letter-spacing: 1px;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ff0000;
}

/* Result Section */
.p1 {
    font-size: 20px;
    font-weight: bold;
    color: #ff3c3c;
    margin-bottom: 15px;
}

.p2 {
    font-size: 16px;
    color: #ccc;
}

h3{
    margin-top: 10px;
    color: #ff3c3c;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}
h4 {
    margin-top: 10px;
    color: #ff3c3c;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

/* Responsive */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}